<div class="container">
    <div class="footer navbar-inner navbar-content-center" id="contact">
        <hr class="style-rainbow">
        <h4 class="text-center text-muted item-info">Leilani.Ann.Raranga@gmail.com</h4>
        <ul class="list-inline text-center list-unstyled">
            <li><a href="http://twitter.com/leilanirar"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="http://github.com/leilaniann"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="http://linkedin.com/in/leilanir"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
        </ul>
        <br>
        <h6 class="text-center text-muted item-info">Made with <span style="color:#1fec83"><i class="fa fa-heart" aria-hidden="true"></i></span> in San Francisco</h6>
    </div>
</div>